@font-face {
    font-family: 'nunito_sanssemibold';
    src: url('font/nunitosans-semibold-webfont.woff2') format('woff2'),
         url('font/nunitosans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'nunito_sanssemibold';
    padding-top: 2px;
    overflow-x: hidden;
}
li>#btn-red-contact{
 font-size: 18px;
 height: auto;
}
.select{
    border: 0;
}
a{
    font-size: 16px;
    color: black;
}
.logo{
    height: 60px;
    width: 200;
}
.image-banner{
    height:800px;
    width: 100%;
    filter: saturate(0);
}
.overlay {
    position: absolute;
    top: 0;
    left:0;
    height:800px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index:1;
  } 
.banner{
    position: relative;
    width: 100%;
}
.title-page{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    z-index: 2;
    font-size: 70px;
}
p{
    font-size: 24px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 30px;
}
h2,h3,h4{
    color: #ce0033;
    font-weight: bolder;
}
.underlined-text{
    background-color: black !important;
    border: 4px solid black !important;
    opacity: 1;
}
.img-slide{
    height: 200px;
    width: 200px;
    margin-left: 20px ;
}
.soutenir-texte, .soutenir-texte>h2{
    color: white;
}
.soutenir-bloc{
    position: absolute;
    top: 100px;
    z-index: 1;
}
h2+p{
    font-size: 27px;
}
p{
    font-size: 24px;
}
.red-bloc-support{
    border-radius: 10px;
    background-color: #ce0033;
    position: relative;
    bottom: 100px;
    opacity: 0.95;
    padding-bottom: 30px;
    z-index: 1;
}
.color-white{
    color: white;
}
.border-text{
    border-left: 2px white solid;
    border-right: 2px white solid;
}
.boldered{
    font-size: 30px;
    text-align: center;
}
.btn-white{
    background-color: white;
    color: #ce0033;
    border-radius: 50px;
    height: 70px;
    font-size: 24px;
}
#btn-red-contact,.btn-red{
    background-color: #ce0033;
    color: white;
    border-radius: 50px;
    height: 70px;
    font-size: 24px;
}
.color-black{
    color: black;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
.carte{
    border-radius: 10px;
}
.bordered{
    border-radius: 20px;
}
.border-img{
    height: 215px;
    border-radius: 10px 10px 0px 0px;
}
.grille{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 80px;
}
.grid-item{
    width: 175px;
    height: 175px;
}
.footer-element-color-red{
 background-color: #ce0033;
 color: white;
}
.row > *{
    padding-right: 0;
    padding-left: 0;
}
.footer{
    background-image: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.height-input{
    height: 3rem;
}

.testimonial {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  .testimonial img {
    width: 100%;
    height: auto;
  }
  .owl-theme .owl-controls .owl-page span {
    border: 2px solid rgb(36, 35, 35);
    background: #fff !important;
    border-radius: 50% !important;
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-page.active span{
    background: #ce0033 !important;
    border-color: #ce0033;
  }
  .owl-theme .owl-controls .owl-page:hover span {
    transform: scale(2);
    background: #ce0033 !important;
    border-color: #ce0033;
  }
  #btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    outline: none;
    cursor: pointer;
    padding: 10px; 
  }
  #btn-back-to-top :hover{
      transform: scale(3);
  }
  a{
      color:black !important;
      font-weight: bold !important;
  }
  a:hover{
    text-decoration: none;
    transform: scale(1.5);
}
.activate-link{
    color: #ce0033 !important;
    border-bottom: 3px solid #CE0033;
}
.dropdown-toggle{
    color: #ce0033 ;
}
.dropdown-toggle>span{
    color: black;
    font-size: 15px;
}
.about-us :hover{
    color: #ce0033 !important;
}
/* Media queries for mobile 768px*/
@media screen and (max-width:768px) {
    .image-banner{
        height:400px;
        width: 100%;
        filter: saturate(0);
    }
    .overlay {
        position: absolute;
        top: 0;
        left:0;
        height:400px;
        width: 100%;
        background-color: black;
        opacity: 0.8;
        z-index:1;
      } 
    .testimonial {
        padding: 20px;
        text-align: center;
        margin-left: 30%;
      }
    .text-justify{
        text-align: justify;
    }
    .red-bloc-support{
        position: static;
        margin-top: 10px;
    }
    .border-text{
        border: none;
    }
    .title-page{
        font-size: 30px;
    }
    .soutenir-bloc{
        position: static ;
    }
    .soutenir-texte>h2{
        color: #ce0033;
        font-size: 30px;
    }
    .soutenir-texte>p{
        color: black;
        width: 100%;
    }
    .support-banner{
        display: none;
    }
    .bordered{
        border-radius: 0px;
    }
    .grille{
        display: grid;
        height: auto;
        grid-template-columns: repeat(auto-fill,100px);
        justify-content: center;
        grid-gap: 80px;
    }
    .grid-item{
        width: 100px;
        height: 100px;
    }
    h2,h3,h4{
        color: #ce0033;
        font-weight: bolder;
        text-align: center;
    }
    h2+p{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 24px;
    }
    .btn-white{
        background-color: white;
        color: #ce0033;
        border-radius: 30px;
        height: 50px;
        font-weight: bold;
        width: 75%;
    }
    .btn-red{
        background-color: #ce0033;
        color: white;
        border-radius: 30px;
        height: 50px;
        font-weight: bold;
        width: 75%;
    }
    .row>*{
        padding-left: 0;
        padding-right: 0;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}  