
#burger,#burgerIcon{
    display: none;
}
nav{
    width: 100%;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.contact-btn{
    font-size: 24px;
    border-radius: 50px;
    width: 150px;
}
.logo{
    width: 20%;
    display: flex;
}
.menu{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.menu>li{
    list-style: none;
    padding: 1.5rem;
}
ul>li>a{
    text-decoration: none;
    color: black;
    padding-bottom: 2rem;
}
ul>li>a:hover{
    text-decoration: none;
    color: black;
}
.active{
    border-bottom: 2px #ce0033 solid;
    color: #ce0033;
}
.image-banner{
    height:800px;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left:0;
    height:800px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index:1;
  }
.banner{
    position: relative;
    width: 100%;
}
.title-page{
    position: absolute;
    left: 30%;
    top: 400px;
    color: white;
    font-weight: bolder;
    letter-spacing: 50px;
    z-index: 2;
    font-size: 40px;
}
p{
    font-size: 24px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 30px;
}
.description-reseau{
    font-size: 30px;
}
h2,h3,h4{
    color: #ce0033;
    font-weight: bolder;
}
.barre{
    border: solid 4px black;
    margin-bottom:20px ;
}
.slide-container{
    overflow: hidden;
    display: flex; 
    height: 300px;
    border: 1px black solid;
}
.slide-container>img{
    height: 300px;
    width: 300px;
    margin-left: 20px ;
    border: 1px solid;
}
.soutenir-texte, .soutenir-texte>h2{
    color: white;
}
.soutenir-bloc{
    position: absolute;
    top: 100px;
    z-index: 1;
}